/01_AgeComparator/.idea/
/01_AgeComparator/AgeComparator.iml
/.idea/
/01_LanguageSyntax/AgeComparator/.idea/
/01_LanguageSyntax/AgeComparator/AgeComparator.iml
/01_LanguageSyntax/Booleans/Booleans.iml
/01_LanguageSyntax/Booleans/Booleans.zip
/01_LanguageSyntax/Booleans/.idea/
/02_LanguageSyntaxPart2/FactorialCalculator/.idea/
/02_LanguageSyntaxPart2/FactorialCalculator/FactorialCalculator.iml
/02_LanguageSyntaxPart2/ForCycle/.idea/
/02_LanguageSyntaxPart2/ForCycle/ForCycle.iml
/02_LanguageSyntaxPart2/GuessTheNumber/.idea/
/02_LanguageSyntaxPart2/GuessTheNumber/GuessTheNumber.iml
/02_LanguageSyntaxPart2/SwimmingPool/.idea/
/02_LanguageSyntaxPart2/SwimmingPool/SwimmingPool.iml
/03_ObjectsAndClasses/Arithmetic/Arithmetic.iml
/03_ObjectsAndClasses/Arithmetic/.gitkeep
/03_ObjectsAndClasses/ObjectsAndClasses_Methods/ObjectsAndMethods.iml
/03_ObjectsAndClasses/ObjectsAndClasses_Methods/ObjectsAndClasses_Methods.iml
/04_Encapsulation/Encapsulation/Encapsulation.iml
/04_Encapsulation/Encapsulation ex.2/.gitkeep
/05_ObjectsAndClasses_StaticFinal/.gitkeeper
/05_ObjectsAndClasses_StaticFinal/ObjectsAndClasses_StaticFinal.iml
/06_Primitives/IntOrInteger/IntOrInteger.iml
/07_NumbersAndDates/assets/
/07_NumbersAndDates/.gitignore
/07_NumbersAndDates/.gitlab-ci.yml
/07_NumbersAndDates/checkstyle.xml
/07_NumbersAndDates/.idea/
/08_Strings/.idea/
/08_Strings/.gitlab-ci.yml
